@tailwind base;
@tailwind components;
@tailwind utilities;


/* Original theme*/
/* @layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
} */

/* Custom Theme */
/* @layer base {
    :root {
        --background: 229 27% 8%;
        --foreground: 227 9% 60%;
        --muted: 229 12% 15%;
        --muted-foreground: 229 12% 65%;
        --popover: 229 27% 5%;
        --popover-foreground: 227 9% 70%;
        --card: 229 27% 6%;
        --card-foreground: 227 9% 65%;
        --border: 229 17% 13%;
        --input: 229 17% 16%;
        --primary: 174 42% 65%;
        --primary-foreground: 174 42% 5%;
        --secondary: 174 30% 25%;
        --secondary-foreground: 174 30% 85%;
        --accent: 229 27% 23%;
        --accent-foreground: 229 27% 83%;
        --destructive: 0 96% 50%;
        --destructive-foreground: 0 0% 100%;
        --ring: 174 42% 65%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 229 27% 8%;
        --foreground: 227 9% 60%;
        --muted: 229 12% 15%;
        --muted-foreground: 229 12% 65%;
        --popover: 229 27% 5%;
        --popover-foreground: 227 9% 70%;
        --card: 229 27% 6%;
        --card-foreground: 227 9% 65%;
        --border: 229 17% 13%;
        --input: 229 17% 16%;
        --primary: 174 42% 65%;
        --primary-foreground: 174 42% 5%;
        --secondary: 174 30% 25%;
        --secondary-foreground: 174 30% 85%;
        --accent: 229 27% 23%;
        --accent-foreground: 229 27% 83%;
        --destructive: 0 96% 50%;
        --destructive-foreground: 0 0% 100%;
        --ring: 174 42% 65%;
    }
} */


/**
 * Butter Colors
 */
/* 
@layer base {
    :root {
        --background: 14 39% 100%;
        --foreground: 14 60% 4%;
        --muted: 14 24% 92%;
        --muted-foreground: 14 11% 40%;
        --popover: 14 39% 100%;
        --popover-foreground: 14 60% 4%;
        --card: 14 39% 100%;
        --card-foreground: 14 60% 4%;
        --border: 14 15% 94%;
        --input: 14 15% 94%;
        --primary: 14 74% 55%;
        --primary-foreground: 0 0% 0%;
        --secondary: 14 8% 88%;
        --secondary-foreground: 14 8% 28%;
        --accent: 14 14% 82%;
        --accent-foreground: 14 14% 22%;
        --destructive: 4 98% 39%;
        --destructive-foreground: 0 0% 100%;
        --ring: 14 74% 55%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 14 34% 1%;
        --foreground: 14 24% 100%;
        --muted: 14 24% 8%;
        --muted-foreground: 14 11% 60%;
        --popover: 14 34% 1%;
        --popover-foreground: 14 24% 100%;
        --card: 14 34% 1%;
        --card-foreground: 14 24% 100%;
        --border: 14 15% 10%;
        --input: 14 15% 10%;
        --primary: 14 74% 55%;
        --primary-foreground: 0 0% 0%;
        --secondary: 14 20% 16%;
        --secondary-foreground: 14 20% 76%;
        --accent: 14 29% 24%;
        --accent-foreground: 14 29% 84%;
        --destructive: 4 98% 58%;
        --destructive-foreground: 0 0% 100%;
        --ring: 14 74% 55%;
    }
} */


/**
 * Butter 2nd Try
 */


@layer base {
    :root {
        --background: 14 50% 100%;
        --foreground: 14 51% 5%;
        --muted: 14 16% 87%;
        --muted-foreground: 14 1% 38%;
        --popover: 14 50% 100%;
        --popover-foreground: 14 51% 5%;
        --card: 14 50% 100%;
        --card-foreground: 14 51% 5%;
        --border: 14 8% 92%;
        --input: 14 8% 92%;
        --primary: 14 74% 55%;
        --primary-foreground: 0 0% 0%;
        --secondary: 14 2% 90%;
        --secondary-foreground: 14 2% 30%;
        --accent: 14 2% 90%;
        --accent-foreground: 14 2% 30%;
        --destructive: 11 84% 20%;
        --destructive-foreground: 11 84% 80%;
        --ring: 14 74% 55%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 14 43% 3%;
        --foreground: 14 40% 98%;
        --muted: 14 16% 13%;
        --muted-foreground: 14 1% 62%;
        --popover: 14 43% 3%;
        --popover-foreground: 14 40% 98%;
        --card: 14 43% 3%;
        --card-foreground: 14 40% 98%;
        --border: 14 8% 12%;
        --input: 14 8% 12%;
        --primary: 14 74% 55%;
        --primary-foreground: 0 0% 0%;
        --secondary: 14 19% 14%;
        --secondary-foreground: 14 19% 74%;
        --accent: 14 19% 14%;
        --accent-foreground: 14 19% 74%;
        --destructive: 11 84% 48%;
        --destructive-foreground: 0 0% 100%;
        --ring: 14 74% 55%;
    }
}


/* @layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} */

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}